.emailList {
    flex: 1;
    overflow: scroll;
   

}
.emailList__settings {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px slid whitesmoke;
    background-color: #fff;
    z-index: 999;
    padding-right: 10px;
    
    
}

.emailList__sections {
 position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px slid whitesmoke;
    background-color: #fff;
    box-shadow:0 0 5px #dddd;
    z-index: 999;

}